<div class="container">
  <%= form_for Task.new do |f| %>
    <%= f.label :name, "Task name:" %>
    <%= f.text_field :name, class: 'form-group', placeholder: "Enter new task here" %>
    <%= f.submit "Add", class: 'btn btn-success' %>
  <% end %>
</div>