<div class="container">

  <div class="spacing">
      <b id="welcome_user_script">Greetings</b><b><h4><%= current_user.username %></h4></b>
  </div>

  <div class="spacing">
    <%= link_to "Add a new task", new_task_path, id: 'new_task_link', remote: true, class: 'btn btn-success', data: { disable_with: 'Add a new task' } %>
  </div>

  <div class="doublespacing">
    <h4><u>My incomplete tasks</u></h4>
  </div>

  <div class="doublespacing">
    <table class="table table-hover table-bordered table-condensed table-responsive small">
      <thead>
        <tr>
          <td> Task Name </td>
          <td align="center"> Days Left </td>
          <td colspan="2" align="center"> Task Controls </td>
        </tr>
      </thead>
      
      <tbody id="incomplete_tasks">
        <% @tasks.each do |task| %>
          <% if task.complete == false %>
            <%= render partial: '/tasks/table', locals: {task: task} %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="doublespacing">
    <h4><u>My completed tasks</u></h4>
  </div>

  <div class="doublespacing">
    <table class="table table-hover table-bordered table-condensed table-responsive small">
      <thead>
        <tr>
          <td> Task Name </td>
          <td align="center"> Days Left </td>
          <td colspan="2" align="center"> Task Controls </td>
        </tr>
      </thead>

      <tbody id="completed_tasks">
        <% @tasks.each do |task| %>
          <% if task.complete == true %>
            <%= render partial: '/tasks/table', locals: {task: task} %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>