<div class="container">
  <%= form_for @task do |f| %>
    <%= f.label :name, "Task name:" %>
    <%= f.text_field :name, class: 'form-group' %>
    <%= f.submit "Edit Task", class: 'btn btn-success' %>
  <% end %>
</div>