@import "bootstrap-sprockets";
@import "bootstrap";

div.pagewidth
{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.spacing
{
  margin-top: 25px;
}

div.doublespacing
{
  margin-top: 50px;
}